<mat-card class="sensorList">
  <mat-card-header>
    <mat-card-title>
      Verfügbare Sensoren
      <hr>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="sensorList != null; else elseBlock">
    <mat-accordion>
      <app-sensor-list-item [sensor$]="sensor" *ngFor="let sensor of sensorList"></app-sensor-list-item>
    </mat-accordion>
  </mat-card-content>

  <ng-template #elseBlock>
    <mat-card-content>
      <mat-card><p style="color: red; text-align: center">! no Sensor avaiable</p></mat-card>
    </mat-card-content>
  </ng-template>
</mat-card>
