<div class="cards-container">
  <mat-card class="alert-item">
    <mat-card-header>
      <mat-card-title>
          Aktive Alerts
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="alerts.length === 0">
            <h6> Sie haben noch keine Alerts konfiguriert</h6>
            <p>Mit Hilfe der Liste rechts können sie eine Alert anlegen.</p>
        </div>
       
        <table mat-table [dataSource]="alerts" class="mat-elevation-z1" *ngIf="alerts.length > 0">
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- SensorId Column-->
            <ng-container matColumnDef="sensorId">
              <th mat-header-cell *matHeaderCellDef> Sensor ID </th>
              <td mat-cell *matCellDef="let element"> {{element.sensorId}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="creator">
              <th mat-header-cell *matHeaderCellDef> Ersteller </th>
              <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
            </ng-container>
        
            <!-- Alert Type Column-->
            <ng-container matColumnDef="alertType">
              <th mat-header-cell *matHeaderCellDef> Typ </th>
              <td mat-cell *matCellDef="let element"> {{element.mqtt ? 'Mqtt-Message' : 'Email'}} </td>
            </ng-container>
          
            <!-- Min Column -->
            <ng-container matColumnDef="min">
              <th mat-header-cell *matHeaderCellDef> Min </th>
              <td mat-cell *matCellDef="let element"> {{element.min}} </td>
            </ng-container>
        
            <!-- Max Column -->
            <ng-container matColumnDef="max">
                <th mat-header-cell *matHeaderCellDef> Max </th>
                <td mat-cell *matCellDef="let element"> {{element.max}} </td>
            </ng-container>
        
            <!--Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Aktionen</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Alert bearbeiten"
                  matTooltipPosition="above" (click)="openEditDialog(element)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button matTooltip="Alert löschen" (click)="deleteAlert(element)"
                  matTooltipPosition="above"><mat-icon>delete</mat-icon></button>
                </td> 
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="alertColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: alertColumns;"></tr>
          </table> 
    </mat-card-content>
  </mat-card>
              
  
  <mat-card class="sensor-item">
    <mat-card-header>
        <mat-card-title>
            Verfügbare Sensoren
        </mat-card-title> 
    </mat-card-header>

    <mat-card-content>
        <table mat-table [dataSource]="sensors" class="mat-elevation-z1">
  
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- SensorId Column -->
            <ng-container matColumnDef="sensorId">
              <th mat-header-cell *matHeaderCellDef> ClientId </th>
              <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
            </ng-container>
          
            <!-- Unit Column -->
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef> Einheit </th>
              <td mat-cell *matCellDef="let element"> {{element.sensorUnit}} </td>
            </ng-container>
          
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Aktionen </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="Alert erstellen"
                  matTooltipPosition="above" (click)="openAddDialog(element)"><mat-icon>add_alert</mat-icon></button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="sensorColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: sensorColumns;"></tr>
          </table>
    </mat-card-content>
  </mat-card>
</div>            
